In [1]:
import pandas as pd

In [3]:
# Change local path, download using the link below. 
# https://drive.google.com/file/d/0B6N7tANPyVeBNmlSX19Ld2xDU1E/view
path='C:/Users/R-k-l/Documents/AA Fouth Year/BetaLab/textfiles/summarycsv/sumdata/train/'
df = pd.concat([pd.read_csv(path+'train.article.txt', sep='\n'), 
                  pd.read_csv(path+'train.title.txt', sep='\n')], axis=1)
df.columns = ['article', 'title']

In [4]:
# join validation sentence pairs together into dataframe
val = pd.concat([pd.read_csv(path+'valid.article.filter.txt', sep="\n"), 
                  pd.read_csv(path+'valid.title.filter.txt', sep="\n")], axis=1)
val.columns = ["article", "title"]

In [6]:
len(df), len(val)

(3803956, 189650)

## Show some sample articles and titles

In [8]:
import random
for i in range(5):
    r = random.randint(0,50)
    display(val.iloc[r]['article'])
    display(val.iloc[r]['title'])

'hollywood star charlie sheen and actress denise richards have scrapped efforts to reconcile their differences and have decided to push ahead with a divorce , court documents showed wednesday .'

'denise richards charlie sheen push ahead with divorce'

"the un security council will hold a ministerial session on the situation in africa 's great lakes region late this month , <unk> 's un envoy augustine <unk> said wednesday ."

"security council to hold ministerial session on africa 's great lakes"

"hong kong gold prices opened higher thursday at ###.##-### .## us dollars an ounce , compared to wednesday 's close of ###.##-### .## dollars an ounce ."

'hong kong gold opens higher'

'four-time all-star alexander mogilny was waived by new jersey on wednesday , one day after the devils welcomed back czech forward patrik elias .'

'mogilny odd man out as devils welcome back elias'

'general motors corp. said wednesday its us sales fell ##.# percent in december and four percent in #### with the biggest losses coming from passenger car sales .'

'gm december sales fall ## percent'

## Create 80,000 training samples and 20,000 validation samples. Export as a .csv file to be used and modeled.

In [10]:
sample_train = df.sample(80000)
sample_val = val.sample(20000)
sample_train.to_csv(path+'../preprocessed/train_ds_80000.csv', index=None)
sample_val.to_csv(path+'../preprocessed/valid_ds_20000.csv', index=None)

In [11]:
sample_train

,article,title
1114775,yolanda griffith of the sacramento monarch com...,griffith is wnba 's most valuable
1292637,venezuelan president hugo chavez made a surpri...,chavez lands in cuba meets with castro brothers
1463898,dutch police have arrested seven people suspec...,dutch police arrest # suspected of planning at...
1210335,russian news agencies say a commercial airline...,airliner lands in moscow despite report of tro...
1849208,spain 's ruling socialist party has claimed vi...,spain s socialists claim victory in general el...
...,...,...
818840,zimbabwean president robert mugabe swore in me...,zimbabwe swears in electoral human rights comm...
3473164,"kuwait stock exchange index closed at #,###.# ...",kuwait stock exchange index down
2085048,saudi arabian defense minister prince sultan s...,saudi arabia says iraqi criticism does not sig...
2183218,minnesota forward <unk> bickerstaff was carrie...,minnesota 's bickerstaff injures leg
2114351,all-rounder dipak patel on wednesday withdrew ...,patel withdraws from tour squad

In [12]:
sample_train = df.sample(80)
sample_val = val.sample(20)
sample_train.to_csv(path+'../preprocessed/train_ds_80.csv', index=None)
sample_val.to_csv(path+'../preprocessed/valid_ds_20.csv', index=None)